body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}



.main {
    max-width: 1500px;
    margin: auto;
}

header img {
    margin-top: 7px;
    float: left;
    height: auto;
    width: 150px;
}

.front {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.front h1 {
    color: white;
    text-align: center;
}

.front h1:hover {
    margin-bottom: 25%;
    transition: 0.6s ease-in-out;
}

.front h1:not(:hover) {
    transition: 0.6s ease-in-out;
}

.go {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.go a {
    font-size: 20px;
    color: green;
    background-color: white;
    padding: 7px 15px;
    border: 1px solid transparent;
    text-decoration: none;
    border-radius: 20px;
}

.go a:hover {
    color: white;
    background-color: transparent;
    transition: 0.6s ease;

}

.sep:active {
    color: black;
    background-color: white;
}